In [1]:
#MANUAL ENTRY BLOCK 1 START
records={
11006591:{"Name":"Puma_EW_Cricket_Bat", "Type":"Sports_Accessories", "Cost":5000,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11006592:{"Name":"Puma_KW_Cricket_Bat", "Type":"Sports_Accessories", "Cost":3000,"Return_Available":"Yes","Suitability":"All","Units":80},
11006593:{"Name":"Puma_Running_Shoes", "Type":"Sports_Accessories", "Cost":3500,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11006594:{"Name":"Adidas_Spiked_Shoes", "Type":"Sports_Accessories", "Cost":5500,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11006595:{"Name":"Adidas_Track_Pant", "Type":"Sports_Accessories", "Cost":1500,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11006596:{"Name":"Adidas_Track_Pant", "Type":"Sports_Accessories", "Cost":1200,"Return_Available":"Yes","Suitability":"Junior","Units":80},
11006597:{"Name":"Apple_Iphone_10S", "Type":"Gadgets", "Cost":75000,"Return_Available":"No","Suitability":"All","Units":80},
11006598:{"Name":"Apple_Ipad_Mini", "Type":"Gadgets", "Cost":55000,"Return_Available":"No","Suitability":"All","Units":80},
11006599:{"Name":"Apple_Smartwatch", "Type":"Gadgets", "Cost":15000,"Return_Available":"No","Suitability":"All","Units":80},
11006600:{"Name":"Samsung_Galaxy_S9_smartphone", "Type":"Gadgets", "Cost":70000,"Return_Available":"No","Suitability":"All","Units":80},
11006601:{"Name":"Samsung_Galaxy_S6_smartphone", "Type":"Gadgets", "Cost":45000,"Return_Available":"No","Suitability":"All","Units":80},
11652250:{"Name":"Samsung_Galaxy_Smartwatch", "Type":"Gadgets", "Cost":10000,"Return_Available":"No","Suitability":"All","Units":80},
11652251:{"Name":"Sony_Noise_Cancellation_Headphones", "Type":"Gadgets", "Cost":18000,"Return_Available":"No","Suitability":"All","Units":80},
11652252:{"Name":"Bose_Noise_Cancellation_Headphones", "Type":"Gadgets", "Cost":18800,"Return_Available":"No","Suitability":"All","Units":80},
11652253:{"Name":"Playstation", "Type":"Gadgets", "Cost":8000,"Return_Available":"No","Suitability":"All","Units":80},
11652254:{"Name":"PSP", "Type":"Gadgets", "Cost":8500,"Return_Available":"No","Suitability":"All","Units":80},
11652255:{"Name":"Syska_Powerbank", "Type":"Gadgets", "Cost":2000,"Return_Available":"No","Suitability":"All","Units":80},
11652256:{"Name":"Xaomi_Powerbank", "Type":"Gadgets", "Cost":1600,"Return_Available":"No","Suitability":"All","Units":80},
11652257:{"Name":"Ambrane_Powerbank", "Type":"Gadgets", "Cost":1100,"Return_Available":"No","Suitability":"All","Units":80},
11652258:{"Name":"Ambrane_Powerbank", "Type":"Gadgets", "Cost":1100,"Return_Available":"No","Suitability":"All","Units":80},
11652259:{"Name":"Lava_Z2_smartphone", "Type":"Gadgets", "Cost":7300,"Return_Available":"No","Suitability":"All","Units":80},
11652260:{"Name":"iQOO_Z3_smartphone", "Type":"Gadgets", "Cost":20000,"Return_Available":"No","Suitability":"All","Units":80},
11652261:{"Name":"Tecno_Spark_7T_smartphone", "Type":"Gadgets", "Cost":9500,"Return_Available":"No","Suitability":"All","Units":80},
11652262:{"Name":"Nokia_G20_smartphone", "Type":"Gadgets", "Cost":12000,"Return_Available":"No","Suitability":"All","Units":80},
11652263:{"Name":"Realme_C11_smartphone", "Type":"Gadgets", "Cost":7300,"Return_Available":"No","Suitability":"All","Units":80},
11652264:{"Name":"Realme_Narzo_30_smartphone", "Type":"Gadgets", "Cost":14000,"Return_Available":"No","Suitability":"All","Units":80},
11652265:{"Name":"Oppo_A74_smartphone", "Type":"Gadgets", "Cost":18000,"Return_Available":"No","Suitability":"All","Units":80},
11652266:{"Name":"Oppo_F19_smartphone", "Type":"Gadgets", "Cost":26000,"Return_Available":"No","Suitability":"All","Units":80},
11652267:{"Name":"Oppo_F17_smartphone", "Type":"Gadgets", "Cost":17000,"Return_Available":"No","Suitability":"All","Units":80},
11652268:{"Name":"Vivo_X60_smartphone", "Type":"Gadgets", "Cost":35000,"Return_Available":"No","Suitability":"All","Units":80},
11652269:{"Name":"Vivo_V21_smartphone", "Type":"Gadgets", "Cost":30000,"Return_Available":"No","Suitability":"All","Units":80},
11652270:{"Name":"Vivo_Y20_smartphone", "Type":"Gadgets", "Cost":16000,"Return_Available":"No","Suitability":"All","Units":80},"11652271":{"Name":"Oneplus_Nord_2_smartphone", "Type":"Gadgets", "Cost":30000,"Return_Available":"No","Suitability":"All","Units":80},
11652272:{"Name":"Tommy_Hilfiger_Checkered_shirt", "Type":"Clothing", "Cost":3300,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11652273:{"Name":"Levis_Checkered_shirt", "Type":"Clothing", "Cost":3300,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11652274:{"Name":"Tommy_Hilfiger_Casual_shirt", "Type":"Clothing", "Cost":3500,"Return_Available":"Yes","Suitability":"Senior","Units":80},
11652275:{"Name":"Levis_Casual_shirt", "Type":"Clothing", "Cost":3200,"Return_Available":"Yes","Suitability":"Senior","Units":80}
}
import json
jsobj=json.dumps(records) #dumps records into the json file
jsobj

'{"11006591": {"Name": "Puma_EW_Cricket_Bat", "Type": "Sports_Accessories", "Cost": 5000, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11006592": {"Name": "Puma_KW_Cricket_Bat", "Type": "Sports_Accessories", "Cost": 3000, "Return_Available": "Yes", "Suitability": "All", "Units": 80}, "11006593": {"Name": "Puma_Running_Shoes", "Type": "Sports_Accessories", "Cost": 3500, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11006594": {"Name": "Adidas_Spiked_Shoes", "Type": "Sports_Accessories", "Cost": 5500, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11006595": {"Name": "Adidas_Track_Pant", "Type": "Sports_Accessories", "Cost": 1500, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11006596": {"Name": "Adidas_Track_Pant", "Type": "Sports_Accessories", "Cost": 1200, "Return_Available": "Yes", "Suitability": "Junior", "Units": 80}, "11006597": {"Name": "Apple_Iphone_10S", "Type": "Gadgets", "Cost": 75000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11006598": {"Name": "Apple_Ipad_Mini", "Type": "Gadgets", "Cost": 55000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11006599": {"Name": "Apple_Smartwatch", "Type": "Gadgets", "Cost": 15000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11006600": {"Name": "Samsung_Galaxy_S9_smartphone", "Type": "Gadgets", "Cost": 70000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11006601": {"Name": "Samsung_Galaxy_S6_smartphone", "Type": "Gadgets", "Cost": 45000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652250": {"Name": "Samsung_Galaxy_Smartwatch", "Type": "Gadgets", "Cost": 10000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652251": {"Name": "Sony_Noise_Cancellation_Headphones", "Type": "Gadgets", "Cost": 18000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652252": {"Name": "Bose_Noise_Cancellation_Headphones", "Type": "Gadgets", "Cost": 18800, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652253": {"Name": "Playstation", "Type": "Gadgets", "Cost": 8000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652254": {"Name": "PSP", "Type": "Gadgets", "Cost": 8500, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652255": {"Name": "Syska_Powerbank", "Type": "Gadgets", "Cost": 2000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652256": {"Name": "Xaomi_Powerbank", "Type": "Gadgets", "Cost": 1600, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652257": {"Name": "Ambrane_Powerbank", "Type": "Gadgets", "Cost": 1100, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652258": {"Name": "Ambrane_Powerbank", "Type": "Gadgets", "Cost": 1100, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652259": {"Name": "Lava_Z2_smartphone", "Type": "Gadgets", "Cost": 7300, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652260": {"Name": "iQOO_Z3_smartphone", "Type": "Gadgets", "Cost": 20000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652261": {"Name": "Tecno_Spark_7T_smartphone", "Type": "Gadgets", "Cost": 9500, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652262": {"Name": "Nokia_G20_smartphone", "Type": "Gadgets", "Cost": 12000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652263": {"Name": "Realme_C11_smartphone", "Type": "Gadgets", "Cost": 7300, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652264": {"Name": "Realme_Narzo_30_smartphone", "Type": "Gadgets", "Cost": 14000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652265": {"Name": "Oppo_A74_smartphone", "Type": "Gadgets", "Cost": 18000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652266": {"Name": "Oppo_F19_smartphone", "Type": "Gadgets", "Cost": 26000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652267": {"Name": "Oppo_F17_smartphone", "Type": "Gadgets", "Cost": 17000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652268": {"Name": "Vivo_X60_smartphone", "Type": "Gadgets", "Cost": 35000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652269": {"Name": "Vivo_V21_smartphone", "Type": "Gadgets", "Cost": 30000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652270": {"Name": "Vivo_Y20_smartphone", "Type": "Gadgets", "Cost": 16000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652271": {"Name": "Oneplus_Nord_2_smartphone", "Type": "Gadgets", "Cost": 30000, "Return_Available": "No", "Suitability": "All", "Units": 80}, "11652272": {"Name": "Tommy_Hilfiger_Checkered_shirt", "Type": "Clothing", "Cost": 3300, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11652273": {"Name": "Levis_Checkered_shirt", "Type": "Clothing", "Cost": 3300, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11652274": {"Name": "Tommy_Hilfiger_Casual_shirt", "Type": "Clothing", "Cost": 3500, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}, "11652275": {"Name": "Levis_Casual_shirt", "Type": "Clothing", "Cost": 3200, "Return_Available": "Yes", "Suitability": "Senior", "Units": 80}}'

In [2]:
#MANUAL ENTRY BLOCK 1 END
fs=open('/content/Dataset_mod_6.json','w') #add new records
fs.write(jsobj)
fs.close()

In [3]:
#MANUAL ENTRY BLOCK 2 START
fs=open('/content/Dataset_mod_6.json','r') #Read json 
conv=fs.read() 
fs.close()
convnext=json.loads(conv) #convert json to dictonary

In [4]:
#MANUAL ENTRY BLOCK 2 END
fs=open('/content/Dataset_mod_6.json','w') #add new records
id=input('Enter ID ')
name_item=input('Enter name of the item ')
item_type=input('Enter type of item ')
item_cost=int(input('Enter cost of item '))
ret_avail=input('Enter return availability ')
suiting=input('Enter suitability age group ')
items_avail=int(input('Enter number of items available '))
convnext[id]={"Name":name_item, "Type":item_type, "Cost":item_cost,"Return_Available":ret_avail,"Suitability":suiting,"Units":items_avail}
new_recs=json.dumps(convnext) #convert updated dictonary back to json
fs.write(new_recs) #write updated json
fs.close() #save

Enter ID 11227788
Enter name of the item Lays_Tomato
Enter type of item Food
Enter cost of item 60
Enter return availability Yes
Enter suitability age group All
Enter number of items available 60

In [ ]:
#UPDATION OF EXISTING ENTRIES BLOCK START
fs=open('/content/Dataset_mod_6.json','r') #Read json 
conv=fs.read() 
fs.close()
convnext=json.loads(conv) #Convert json to dictonary
print(convnext)

{'11006591': {'Name': 'Puma_EW_Cricket_Bat', 'Type': 'Sports_Accessories', 'Cost': 5000, 'Return_Available': 'Yes', 'Suitability': 'Senior', 'Units': 80}, '11006592': {'Name': 'Puma_KW_Cricket_Bat', 'Type': 'Sports_Accessories', 'Cost': 3000, 'Return_Available': 'Yes', 'Suitability': 'All', 'Units': 80}, '11006593': {'Name': 'Puma_Running_Shoes', 'Type': 'Sports_Accessories', 'Cost': 3500, 'Return_Available': 'Yes', 'Suitability': 'Senior', 'Units': 80}, '11006594': {'Name': 'Adidas_Spiked_Shoes', 'Type': 'Sports_Accessories', 'Cost': 5500, 'Return_Available': 'Yes', 'Suitability': 'Senior', 'Units': 80}, '11006595': {'Name': 'Adidas_Track_Pant', 'Type': 'Sports_Accessories', 'Cost': 1500, 'Return_Available': 'Yes', 'Suitability': 'Senior', 'Units': 80}, '11006596': {'Name': 'Adidas_Track_Pant', 'Type': 'Sports_Accessories', 'Cost': 1200, 'Return_Available': 'Yes', 'Suitability': 'Junior', 'Units': 80}, '11006597': {'Name': 'Apple_Iphone_10S', 'Type': 'Gadgets', 'Cost': 75000, 'Return_Available': 'No', 'Suitability': 'All', 'Units': 80}, '11227788': {'Name': 'Wooden_Chairs', 'Type': 'Furniture', 'Cost': 3000, 'Return_Available': 'Yes', 'Suitability': 'All', 'Units': 60}}

In [ ]:
#UPDATION OF EXISTING ENTRIES BLOCK END
fs=open('/content/Dataset_mod_6.json','w')
convnext['11006591']['Name']='Puma_EW_g2_Cricket_Bat_5' #update any existing record
print(convnext)
final_conv=json.dumps(convnext) #convert back to json
#print(final_conv)
fs.write(final_conv) #Save updated file
fs.close()

In [10]:
#USER INTERFACE BLOCK convnext
print('Welcome to IMS! Please enter your items')
res_lst=[]
while(True):
  s_lst=[]
  item_of_purchase=input('Enter the item you want ')
  item_quant=int(input('How many do you want? '))
  for i in convnext.keys():
    if convnext[i]['Name']==item_of_purchase:
      #Store id,name,cost,quantity of item in a list s_lst
      s_lst.extend([i,convnext[i]['Name'],convnext[i]['Cost'],item_quant]) 
      convnext[i]['Units']=convnext[i]['Units']-item_quant #update json inventory
  #Append the list in res_lst
  res_lst.append(s_lst)
  response=input('Do you wish to add more items?(Yes/No) ')
  if response=='Yes' or response=='yes':
    print('Then continue! ')
  elif response=='No' or response=='no':
    print('The innvoice will be generated. Thank You for Shopping! ')
    break
print(res_lst)

Welcome to IMS! Please enter your items
Enter the item you want Syska_Powerbank
How many do you want? 2
Do you wish to add more items?(Yes/No) Yes
Then continue!
Enter the item you want Oppo_F17_smartphone
How many do you want? 2
Do you wish to add more items?(Yes/No) no
The innvoice will be generated. Thank You for Shopping!
[['11652255', 'Syska_Powerbank', 2000, 2], ['11652267', 'Oppo_F17_smartphone', 17000, 2]]

In [11]:
#JSON FILE UPDATION BLOCK
fs=open('/content/Dataset_mod_6.json','w')
final_conv=json.dumps(convnext) #convert back to json
fs.write(final_conv) #Save updated inventory
fs.close()

In [18]:
#BILL GENERATION BLOCK
import pandas as pd
columns_of_bill=['ID','Name_of_the_item','Total_Cost','Quantity']
res_df=pd.DataFrame(columns=columns_of_bill) #initialize dataframe with specified columns
print('Invoice as follows')
total_cost=0
count_tot=0
for lst in res_lst:
  res_df.loc[count_tot,:]=[lst[0],lst[1],lst[2]*lst[3],lst[3]] #add new values to dataframe
  count_tot+=1
  total_cost+=lst[2]*lst[3] #compute total cost
print(res_df)
print('\n         Total (inclusive of taxes): ',float(total_cost*1.1))

Invoice as follows
         ID     Name_of_the_item Total_Cost Quantity
0  11652255      Syska_Powerbank       4000        2
1  11652267  Oppo_F17_smartphone      34000        2

         Total (inclusive of taxes):  41800.0